# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/

# Logs
*.log

# Ejecutables / binarios
*.exe
*.dll
*.so

# Distribución
dist/
build/
*.egg-info/

# Archivos de entorno y secretos
.env
credentials.json

# Windows
Thumbs.db
desktop.ini

# Carpeta de herramientas externas (si no quieres subir ffmpeg)
ffmpeg.exe
ffplay.exe
ffprobe.exe
